<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Opinions Social Network Full Stack CRUD Application built with Node, Express, MongoDB, TailwindCSS, and vanilla Javascript">
    <meta name="keywords" content="opinions, social network, social">
    <meta name="title" property="og:title" content="Opinions Social Network" />
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image" content="https://i.imgur.com/Tv2io4P.png" />
    <meta name="description" property="og:description" content="Opinions Social Network Full Stack CRUD Application built with Node, Express, MongoDB, TailwindCSS, and vanilla Javascript" />
    <meta name="author" content="Jeremy Seckinger, Shara Crosslin, Jonathan Yau, Tim Calas, Marcelo Azevedo, Ruth Reed" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Opinion</title>
</head>
<body>
    <!-- <h1 class="text-center text-5xl text-purple-700 mt-64">Opinions are like Assholes: share your's here </h1>
    <br>
    <h2 class="text-center text-purple-400">A website for narcissists to share without fear of contradiction</h2>
    <h2 class="text-center text-purple-400">AKA the no-interaction twitter</h2> -->
    <header class="justify-center">
        <div class="text-center">
          <h1 class="text-8xl text-purple-700 mt-64"><a href="/opinions">Opinions</a></h1>
          <span class="text-1xl text-purple-300">The Anti Social Social Network</span>
        </div>
      </header>
    <br>

    <form class="flex flex-row justify-center">
      <input
        class="h-6 px-5 m-2 text-purple-100 transition-colors duration-150 bg-purple-700 rounded-lg focus:shadow-outline hover:bg-purple-800"
        type="submit"
        value="Login"
        formaction="/login"
      />
      <br />
      <input
        class="h-6 px-5 m-2 text-purple-100 transition-colors duration-150 bg-purple-700 rounded-lg focus:shadow-outline hover:bg-purple-800"
        type="submit"
        value="Signup"
        formaction="/signup"
      />
    </form>
  </body>
</html>
