<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Login / Opinion</title>
</head>
<body>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>

    <h1 class="text-center text-5xl text-purple-700">Login</h1>
    <br>
    <h2 class="text-center text-purple-500">Continue sharing your opinions!</h2>
    <br>

    <div class="flex mx-auto max-w-xl">
        <form class="flex items-stretch p-4" action="/login" method="POST">
            <input class="border" type="email" name="email" placeholder="Email">
            <input class="border" type="password" name="password" placeholder="Password">
            <input class="h-6 px-5 rounded-lg text-purple-100 bg-purple-700 hover:bg-purple-800" type="submit">
        </form>    
    </div>
    
</body>
</html>