<%- include('partials/header') -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Signup / Opinion</title>
</head>
<body>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <h1 class="mt-16 text-center text-4xl text-purple-700">Signup</h1>
    <br>
    <h2 class="text-center text-purple-500">Start your free Opinion-ated account.</h2>
    <br>

    <div class="mx-auto max-w-xl">
        <form class="flex flex-col items-center space-y-5" action="/signup" method="POST">
            <input class="border p-2 rounded-lg" type="text" name="userName" placeholder="User Name">
            <input class="border p-2 rounded-lg" type="email" name="email" placeholder="Email">
            <input class="border p-2 rounded-lg" type="password" name="password" placeholder="Password">
            <input class="border p-2 rounded-lg" type="password" name="confirmPassword" placeholder="Confirm Password">
            <input class="px-8 py-2 rounded-lg text-purple-100 bg-purple-700 hover:bg-purple-800" type="submit">
        </form>
    </div>
    
</body>
</html>